<html>
<head><title>Ihre Registrierung bei der Elternsprechtagapplikation der Br&uuml;hlwiesenschule Hofheim</title>
<body>
	<p>Vielen Dank f&uuml;r Ihre Registrierung bei der Elternsprechtagapplikation der Br&uuml;hlwiesenschule Hofheim.</p>
	<p>Um Ihre Registrierung abzuschlie&szlig;en und die Applikation in Anspruch nehmen zu k&ouml;nnen klicken Sie bitte auf den folgenden Link.</p>
	<p><a href="$VARIABLE">Link f&uuml;r die Aktivierung</a></p>
	<p>Sollten Sie Probleme beim Aufrufen der Aktivierung haben kopieren Sie bitte den folgenden Link in die Adressleiste ihres Browser.</p>
	<p>$VARIALBE</p>
	<p>Sollten Sie noch Fragen oder Anregungen haben benutzen Sie die Kontaktform auf der <a href="$KONTAKTFORM">Webseite</a></p>
	<p>Das Team der Elternsprechtagsapplikation w&uuml;nscht Ihnen gutes Gelingen.</p>
</body>
</html>
	