<html>
<head><title>Ihre Passwortzurücksetzung bei der Elternsprechtagsapplikation der Br&uuml;hlwiesenschule Hofheim</title>
<body>
	<p>Ihr Passwort wurde erfolgreich zurückgesetzt. Bitte klicken Sie auf folgenden Link um ein neues Passwort für Ihren Account zu setzen</p>
	<p><a href="$VARIABLE">Link f&uuml;r die Passwortwahl</a></p>
	<p>Sollten Sie Probleme beim Aufrufen der Aktivierung haben kopieren Sie bitte den folgenden Link in die Adressleiste ihres Browser.</p>
	<p>$VARIALBE</p>
	<p>Sollten Sie noch Fragen oder Anregungen haben benutzen Sie die Kontaktform auf der <a href="$KONTAKTFORM">Webseite</a></p>
	<p>Das Team der Elternsprechtagsapplikation w&uuml;nscht Ihnen gutes Gelingen.</p>
</body>
</html>